.logo{
    display: flex;
<<<<<<< HEAD
    
}
img{
    height: 60px;
    width: 70px;
=======
}
img{
    height: 100px;
    width: 90px;
}
h1{
    padding: 30px;
>>>>>>> ad5278e7ec96ace86308176a467d2a65f63f0b24
}
header{
    height: 70px;
    background-color: white;
<<<<<<< HEAD
    padding: 0 20px;
=======
    padding: 0;
>>>>>>> ad5278e7ec96ace86308176a467d2a65f63f0b24
    display: flex;
    justify-content: space-between;
    align-items: center;
}
