.logo{
    display: flex;
}
img{
    height: 100px;
    width: 90px;
}
h1{
    padding: 30px;
}
header{
    height: 70px;
    background-color: white;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
